/* styles/AddPipeline.module.css */


  
  /* form {
    display: flex;
    flex-direction: column;
  }
   */
  /* label {
    margin-bottom: 5px;
  } */
  
  /* input,
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .formActions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
   */
  /* button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  /* a {
    padding: 10px;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
  }
   */
  /* Style the Back button */
 